services:
  db:
    image: postgres:18-alpine

    volumes:
      - postgres_data:/var/lib/postgresql/data

    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}

    ports:
      - '${POSTGRES_PORT}:5432'

    restart: unless-stopped

volumes:
  postgres_data:
